@import 'colores';
@import "asesoria";
@import'extends';
@import'mixin';


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300;400;700&display=swap');

.borderlinks {
    border: 3px solid black;
    background-color:$color-backgraun;
    p{
        padding: 35px;
        color: black;
        font-size: 19px;
    }
    h1 {
        font-family: 'Barlow Condensed', sans-serif;
    }
    
    .imagenlogo{
        padding: 20px;
    }
    h3 {
        font-family: 'Barlow Condensed', sans-serif;
    }
}
    /*mixins*/
    
    .imagenlogo {@include dimensiones(100%); height: 400px;}
    .imagenasesoria { @include dimensiones(100%);}
    .imagencurso { @include dimensiones(100%);}
    .imagenmembresia { @include dimensiones(100%);}
    .imagennosotros { @include dimensiones(100%);}

/*fin mixin*/
body {  
    background-color: $color-fondo
     ;
    background-size: cover;
    background-attachment: fixed;

.colorredes{
    border: 2px solid black;
    background-color: darken($color-links, 15%);
}


a{text-decoration: none;
    color: $color-links;
    font-size: 25px;
    font-family: 'Barlow Condensed', sans-serif;

}
}
.nosotros1 {
    border: 3px solid black;
    background-color: $color-links;
    display: flex;
    justify-content: center;
   
}


.box{
    transition-property: all;
    transition-duration: 2s ;
}
.box:hover {
    transform: scale(2);
}

.box2 {
    transition-property: all;
    transition-duration: 2s ;

}
.box2:hover {
    transform: scale(2);
}

.animaciontitulos {
    transition-property: all;
    transition-duration: 2s;
}

.animaciontitulos :hover {
    transform: scale(2);
}

/* media */
@media (min-width:600px){
    .containerBs{
        display: flex;
    }
    
}


@media screen and (min-width:500px) {
    body{
        background-color: #D8E6E3;
    }
    
}


/* final al estilo de index */

/* estilo de asesoria */
.bodyasesoria {
    background-image: url(
        'imagen\ fondo.webp'
    
    );
}
*{
    margin: 0;
    padding: 0;

.borderlinks {
    display: flex;
    justify-content: space-around;
    width: 100%;


}
.imagenlogo{
    display: flex;
    justify-content: flex-start;
    margin: 0px;
}
.flexparrafo {
    display: flex;
    vertical-align: top;
    margin: 60px;
    padding: 15px;
}
.imagennosotros {
    display: flex;
    float: left;
    justify-content: center;
    margin:0px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3xp 5px rgba(15, 15, 15, .5);

}

/*se agrego extends*/


.color1asesoria {
    @extend %titulos
}


.color2cursosonline {
    @extend %titulos
    
}
.color3membresia {
    @extend %titulos

}
}

.imagenmembresia .imagenasesoria .imagencurso {
    border-radius: 15px;
    box-shadow: 0px 3xp 5px rgba(15, 15, 15, .5);
}


/* estilo en la seccion de nosotros en el index */


/*estilo al formulario del index */


.bodyform{
    min-height: 100vh;
    width: 100%;
    display: flex;

    font-family: 'Montserrat', sans-serif;

}

.form {
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;


    .forminput {
        font-family:  inherit;
        font-size: 1rem;
        padding: .8em 1em;
    }

    .formcta{
        font-family: inherit;
        font-size: 1rem;
        background-color: #089fe0;
        color: #fff;
        border: none;
        font-weight: 300;
        padding: .7em 0;
        border-radius: .2em;
        cursor: pointer;
        font-weight: 400;
        
    }
}

.formcontainer {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;

    .formtitle{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: .4em;
    }

}

@media (max-width:450px) {
    .form{
        padding: 3.5em 1em;
    }
}

.fotter {
    margin: 1rem;
}









    
    
        
