@import 'index';
@import 'colores';
@import'medidas';


.borderlinks {
    border: 3px solid black;
    background-color:$color-backgraun;
    p{
        padding: 35px;
        color: black;
        font-size: 19px;
    }
}